/*寫法:要作用的tag名稱{css樣式語法}
背景色background-color:設定值;
文字顏色color:設定值;
文字大小
*/
body{
    background-color: #26789b;
    color: #ffffff;
    background-image:url(../LOGO.png)；
    background-size:contain；
    background-repeat:no-repeat；
    background-position:center；

}
a{
    font: size 36px;
    

    font-size: 30px;
}